{% extends 'linksbase.html' %} {% block title %} {{ name }} {% endblock title %}
{% block body %} {% load static %}
<div class="d-flex align-items-center h-100">
    <div class="container text-center">
        <div class="row mb-0 pb-4">
            <h1 class="w-100">You will be redirected soon.</h1>
        </div>
        <div class="row pb-5 mb-5">
            <svg width="100" height="100" id="loadsvg">
                <circle r="25" cx="50" cy="50" id="load" />
                <circle r="45" cx="50" cy="50" id="loadfore" />
                <image
                    href="{% static 'img/largeicon.png' %}"
                    height="60"
                    widht="60"
                    x="20"
                    y="-80"
                    id="loadimg"
                />
            </svg>
        </div>
    </div>
</div>

<noscript>
    <h1>Java script has not been detected...</h1>
    <a href="{{ url }}">Click here to go to your application</a>
</noscript>
<script>
    document.getElementById("load").style.strokeDasharray = 158;
    redirect("{{ url }}", 4);
</script>

{% endblock body %}
