{% extends 'dashbase.html' %} {% block content %}
<form method="post" class="w-50">
    {% if link %}
    <h1>Edit: {{ link.name }}</h1>
    {% else %}
    <h1>Create: New link</h1>
    {% endif %} {% csrf_token %}
    <div class="form-group">
        <label for="username" class="d-sm-block d-none"
            >Name (Spaces will be replaced with underscores)</label
        >
        <input
            placeholder="Name"
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="{{ link.name | default:'' }}"
            required
        />
    </div>
    <div class="form-group">
        <label for="pass" class="d-sm-block d-none">URL</label>
        <input
            placeholder="https://example.com"
            type="url"
            class="form-control"
            id="urlform"
            name="url"
            value="{{ link.url | default:'' }}"
            required
        />
    </div>
    <div class="form-check mb-2">
        <input
            type="checkbox"
            class="form-check-input"
            id="instantform"
            name="instant"
            checked
        />
        <label for="instant" class="form-check-label">Instant redirect</label>

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    {% if link %}
    <button
        class="btn btn-danger float-right d-inline-block"
        id="delete"
        type="button"
    >
        Delete link
    </button>
    {% endif %}
</form>

{% if link %}
<form action="{% url 'deleteurl' %}" id="deleteform" method="POST">
    {% csrf_token %}
    <input hidden value="{{ link.name }}" readonly name="urlname" />
</form>
{% endif %}
<script>
    $("#instantform").prop('checked', ("{{ link.instant_redirect | default:'true' }}".toLowerCase() == 'true' ))
    $("#name").change(() => {
        $("#name").val($("#name").val().replaceAll(" ", "_"));
    });
    $("#delete").click(() => {
        let confimed = confirm("Are you sure?");
        if (confimed) {
            $("#deleteform").submit();
        }
    });
</script>
{% endblock content %}
